<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">
    
    <!-- JOB管理 -->
    <bean id="jobListAction" class="com.gmcc.webapp.action.job.JobListAction" parent="baseAction" scope="prototype">
    	<property name="jobService" ref="jobService"/>
	</bean>
	<bean id="jobDataAction" class="com.gmcc.webapp.action.job.JobDataAction" parent="baseAction" scope="prototype">
		<property name="jobService" ref="jobService"/>
	</bean>
	<bean id="jobLogListAction" class="com.gmcc.webapp.action.job.JobLogListAction" parent="baseAction" scope="prototype">
		
	</bean>
</beans>


