/* A CSS Framework by Mike Stenhouse of Content with Style */
/* FORM ELEMENTS */
/* From http://www.wufoo.com/css/global/dynamic.css */

/* ----- CLASSIC WUFOO FORM ----- */
form {
    font-size: .9em;
}

form ul {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
}
/* ----- 鐞涖劌宕熻箛鍛綖缁撅拷閻ㄥ嫭鐗卞锟�--- */
.fromrequired{
	color: red;
	vertical-align: bottom;
	
}

/* Fixes for forms around everything in JSF */
form ul.glassList {
    list-style: url(../images/aquadot.jpg) disc outside;
    vertical-align: top;
    line-height: 1.2em;
    margin-left: 40px;
}

form ul.glassList li {
    line-height: 1.1em;
    font-size: 1.1em;
    padding: 2px 0 3px 0;
}

form .pagebanner, form .exportlinks, form .table {
    font-size: 1.1em;
}
/* End of JSF fixes */

form li {
    line-height: 2em;
    margin: 0;
    padding: 1px 1px 2px 2px;
}

form li.focused {
    background-color: #fff7c0 !important;
}

form li p {
    font-size: 9px;
    line-height: 13px;
    color: #444;
}

form[id] li {
    display: block;
}

form[id] ul.glassList li {
    display: list-item;
}

form li div {
    display: inline-block;
}

form li div.group {
    display: block !important;
    background-color: #f7f7f7;
    padding: 10px;
    width: 355px;
}

form li div.group p, form div.group p label {
    text-align: left;
}

form li div.group input.large, form li div.group textarea.large, form li fieldset {
    width: 339px;
}

form[id] li div {
    display: inline;
}

form .left{
    float: left !important;
    margin: 0;
}

form .right{
    float: right !important;
    margin: 0;
}

form .clear{
    clear: both;
}

form li div {
    margin-bottom: 0;
}

form li div p {
    margin: 0 0 5px 0;
}

form div.left{
    margin-right: 2px !important;
}

form div.left[class]{
    margin-right: 4px !important;
}

form div.left img{
    margin: 0 0 -2px 0;
}

/* ----- INFO ----- */
form h2{
    font-size: 1.8em;
    clear: left;
}

form .info{
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px dotted #ccc !important;
    text-align: left;
}

form .info[class]{
    display: block;
}

form .info p{
    font-size: 1em;
    line-height: 1.3em;
    margin: 0 0 8px 0;
}

/* ----- SECTIONS ----- */
form .section{
    display: inline-block;
    border-top: 1px dotted #ccc !important;
    margin-top: 15px !important;
    padding-top: 12px !important;
    padding-bottom: 0 !important;
}

form .section[class]{
    display: block;
}

form .first{
    border-top: none !important;
    margin-top: 0 !important;
    padding-top: 1px !important;
}

form .section h3{
    font-size: 1.25em;
}

form .section p{
    font-size: 11px;
    line-height: 13px;
}
.desc { 
    margin: 4px 0 3px 0;
    border: 0;
    color: #444;
    font-size: 1em;
    line-height: 1.3em;
    background-color:#D3EAFF; /*#f2f9fd;*/
}

/* ----- FIELDS AND LABELS ----- */
label.desc { 
    margin: 4px 0 3px 0;
    border: 0;
    color: #444;
    font-size: 1em;
    line-height: 1.3em;
    display: block;
    font-weight: bold;
    background-color: #f2f9fd;
}
.display { 
    border: 0;
    color: #444;
    font-size: 1em;
    line-height: 1.3em;
    display: block;
    font-weight: normal;
    padding-left:15px;
    text-align: left; 
    font-family: Arial, Verdana, Times New Roman;  
    letter-spacing: 1px;
    vertical-align: middle;
    background-color: #f2f9fd
    
}

/* wwlbl is from Struts and this is needed to make things work properly with IE 7 */
div.wwlbl { display: block !important }

p label {
    font-weight: normal;
}

input.text, input.number, input.url, input.email, input.password, input.file,
textarea.textarea, select.select{
    font-size: 1.2em;
    color: #333;
    background:transparent url(andreas01/images/inputbg.png) no-repeat scroll 0 0;
	border:1px solid #7AD2FF;
	display:block;
	float:left;
	padding:3px 0 1px 2px;
}

input.text, input.number, input.url, input.email, input.password, input.file{
    padding: 2px;
}

input.currency{
    text-align: right;
}

input.checkbox, input.radio{
    display: block;
    line-height: 1.4em;
    margin: 8px 0 0 3px;
    width: 13px;
    height: 13px;
}

input.focus, textarea.focus {
    background: #ffd;
    color: #000;
}

label.choice {
    display: block;
    line-height: 1.4em;
    margin: -19px 0 0 25px;
    padding: 4px 0 5px 0;
    color: #444;
    width: 80%;
    font-size: 1.05em;
}

textarea.textarea{
    font-size: 1.1em;
    font-family: Tahoma,"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    margin-bottom: 1px;
}

textarea.textarea[class]{
    font-family: "Lucida Grande", Tahoma, "Trebuchet MS", Verdana, sans-serif;
}

select.select{
    padding: 1px 0 0 0;
    margin: 1px 0 3px 0;
}

select.select[class]{
    margin: 0;
    padding: 1px 0 1px 0;
}

/* ----- SIZES ----- */
form .small{
    width: 70px;
}

form .medium{
    width: 170px;
}

form .state{
    width: 160px;
}

form .large, form textarea.textarea{
    width: 349px;
}

form .tags{
    width: 320px;
}

form textarea.small{
    height: 5.5em;
}

form textarea.medium{
    height: 10em;
}

form textarea.large{
    height: 20em;
}

/* ----- ERRORS ----- */
form li.error{
    background-color: #FFDFDF;
    margin: 0px 0 !important;
}

input.error, textarea.error{
    background: #FFCA7A;
}

p.error, li.error label.desc{
    color: red !important;
}

p.error{
    font-size: 9px !important;
    margin: 1px 0;
}

/* ----- REQUIRED ----- */
.req {
    font-size: 1em !important;
    color: #f90;
    font-weight: bold;
}
form{
	margin:0px;
}
/*------------search-------------*/
.search{
	margin:0px;
	padding:4px;
	background:#d7ecf8 url(../img/search_bg.png) repeat-y center top;
}
.search h3{
	background:url(../img/search_icon.png) no-repeat 4px 3px;
	padding-left:22px;
	display:block;
	line-height:18px;
	font-size:13px;
	font-weight:bold;
	color:#364b71;
	}
.searchBottomLine{
	background:url(../img/search_bottomLine.png) repeat-x;
	height:2px;
	font-size:0px;
	margin-bottom: 5px;
}
.searchBottomLine1{
	background:url(../img/search_bottomLine.png) repeat-x;
	height:2px;
	font-size:0px;
	margin-bottom:0px;
}
.search table input{margin-right:10px;}
.btn_search{
	border:0px;
	background:url(../img/search_btn_bg.png) no-repeat;
	width:75px;
	height:26px;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	line-height:26px;
	letter-spacing: 2px;
	}
/* List */
.ListTitle{display: inline;height: 20px;}
.title{
	background:url(../img/ListTitleBg.png) center center repeat-x;
	height:25px;
	border:1px solid #83b6c7;
	border-bottom:0px;
}
.title table{float:right;}
.title table td{
	background:url(../img/ListlineBg.png) no-repeat left top;
	padding-left: 10px;
	}
.ListTitle h4{
	font-size:13px;
	font-weight:normal;
	color:#004d7d;
	padding:6px 15px;
	display:inline;
}
.ListTitle h4 span{
	color:#ff6c00;
}
.ListTitle table{
	float:right;
	margin-right:14px;
	height:22px;
	margin-top: 1px;
	*margin-top: 0px;
}
.ListTitle table td{
	/*background:url(../img/ListlineBg.png) no-repeat left top;*/
	line-height:20px;
	padding:0 0 0 10px;
}
.title h3{
	font-size:13px;
	font-weight:bold;
	color:#04305a;
	padding:0px 15px;
	float:left;
	line-height: 25px;
}
.content{
	border:1px solid #86b8c8;
	background:#FFF;
	padding: 4px;
}
.content table{
	width:100%;
	background:#d8e2e5
}
.content td{
	padding-right:20px;
	color:#6a6a6a;
	line-height: 1.3em;
	margin: 2px;
	padding-left: 2px;
	background:#FFF;
}
.content .desc { 
	background: #F7FCFF;
    border: 0;
    color: #444444;
    padding-right: 5px;
    text-align: right;
    width: 100px;
}
/* ----- Fieldsets ----- */
fieldset {
    margin: 0 0 5px 0;
    padding: 10px 10px 5px 10px;
    color: #444;
    border: 1px solid #44D1F4;
}

/* Firefox and others, don't apply to IE or it will put a border under each input element */
li>fieldset, form>fieldset { border: 1px solid silver }

fieldset.choices{
    padding: 10px 5px 10px 10px;
}

fieldset.fieldset{
    padding: 0 0 10px 0;
}

legend{
    font-weight: bold;
    margin: 0 0 0 0;
    color: #FF860A;
    font-size: 13px;
}

#formProperties[id] legend, .choices[class] legend{
    margin: 0 0 0 -5px;
}

.fieldset legend{
    margin: 0;
}

.fieldset[class] legend{
    margin: 0 0 0 5px;
}

#formProperties fieldset div{
    margin-bottom: 7px;
}

fieldset div .number{
    margin: 7px 15px 0 0;
}

fieldset p{
    margin: 10px;
}

/* ----- Choices ----- */
.choices input{
    width: 200px;
    margin-right: 3px;
}

.choices ol{
    margin: 10px 0 0 0;
}

.choices[class] ol{
    margin: 0 !important;
}

.choices img{
    margin: 0 0 1px 0;
}

fieldset ol li {
    display: list-item !important;
    margin: 0 5px 2px 3px !important;
    padding: 0 !important;
    list-style: inside decimal;
}

/* ----- Buttons ----- */
input.button, button {
    width: 6em;
    padding: 2px 2px 0 0; /* fix for IE */
}

/* revert to normal for Firefox */
li>input.button, li>button, input.button>input.button, button>button, span>input.button, div>input.button {
    padding: 2px;
}

/* pickList for roles in Spring and WebWork */
table.pickList {
    padding: 0;
    border-spacing: 0;
}

table.pickList th.pickLabel {
    text-align: center;
}

table.pickList td {
    text-align: center;
    vertical-align: middle;
}

table.pickList td label {
    vertical-align: middle;
}

table.pickList td button {
    padding-bottom: 2px;
    font-size: 1em;
}

table.pickList td select {
    width: 130px;
}

/* END FORM ELEMENTS */

/* Specific forms */

#loginForm fieldset {
    width: 300px;
    padding: 10px 30px;
    margin: 0 auto;
}

#loginForm li {
    text-align: left;
    padding: 0;
}
.selectTit {background:url(../img/bg100.png) repeat-x;height:28px;margin-top:1px;}
.selectTit table{margin:0px 5px; background:none;}
.selectTit table td{ background:none; padding-right: 5px;}
.selectTit table .desc{color:#364B71;font-weight:bold; background:none;}